// 搜索框
.search{
    background-color: #eeeeee;
    width: 100%;
    height: 100rpx;  
    padding: 0 16rpx ;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
      .content{ 
          width: 100%;
          height: 60rpx;
          background-color: white;
          position: relative;
          margin-top: 20rpx;
          display: flex;
          justify-content: center;
    
        .input1{  
            width: 100%;
            height: 100%;
         }
        .sousuo{
            display: flex;
            align-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
         
            icon{
                margin-top: 4rpx;
            }
            #ss{
                font-size: 15px;
                color: #cecece;
            }
        }
        }
       
        
    
}

// 内容
.box{
    margin-top: 100rpx;
    .head{
        
        .content{
            width: 100%;
        height: 100rpx;
        display: flex;
        justify-content: space-around;
        line-height: 100rpx;
        text-align: center;
           .name{
               height: 100%;
               width: 33.33%;

               &.active{
                   color: red;
               }
           }
        }
    }

    .neirong{
        .item{
            width: 100%;
            height: 260rpx;
            padding-left: 20rpx;
            padding-top: 26rpx;
            box-sizing: border-box;
            border-bottom: 1px solid #ccc;
            .img1{
                display: inline-block;
                width: 200rpx;
                height: 200rpx;
            }
            .text{
                float:right;
                .projectdec{
                    width: 500rpx;
                    height: 80rpx;
                    text-overflow: -o-ellipsis-lastline;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    padding-right:36rpx;
                    box-sizing: border-box;

                }
                .price{
                    display: block;
                    margin-top: 40rpx;
                    color: #eb4450;
                    font-size: 16px;
                    .six{
                        font-size: 28px;
                    }
                }
            }
        }
    }
}