.search {
  background-color: #ff2d4a;
  width: 100%;
  height: 100rpx;
  padding: 0 16rpx ;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.search .content {
  width: 100%;
  height: 60rpx;
  background-color: white;
  position: relative;
  margin-top: 20rpx;
  display: flex;
  justify-content: center;
}
.search .content .input1 {
  width: 100%;
  height: 100%;
}
.search .content .sousuo {
  display: flex;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search .content .sousuo icon {
  margin-top: 4rpx;
}
.search .content .sousuo #ss {
  font-size: 15px;
  color: #cecece;
}
